main .container .content {
  padding: 1rem;
  margin-top: 20px;
}

/* ! responsive */
@media only screen and (max-width: 1024px) {
  /* Welcome page */
  main .container .content section img {
    width: 95%;
    margin: auto;
  }
  main .container .content {
    margin: auto;
    padding: 0;;
  }
  
  /* Welcome page */
}

